/* tiles */

.tiles {
    background-color: rgba(240,240,240,.5);
/*  border: 1px solid black;*/
/*    display: inline-block;*/
    
    
}

.tileText {
    font-size: 10em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}

/*
#gameBoard {
    line-height: 0;
    position: relative;
    background-color: red;
    
}
*/


#tile-1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#tile-2 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#tile-3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#tile-4 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#tile-5 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#tile-6 {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

#tile-7 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    
}

#tile-8 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#tile-9 {
    border-left: 1px solid black;
    border-top: 1px solid black;
}





